body{
    background-color: rgb(178,34,34);
    color: white;
    font-family: poppinsbold;
    margin: 0 auto;
    padding: 15px;
    background-image: url("/components/img/Captura\ de\ tela\ 2023-09-15\ 221921.png");
    background-size: cover; /* Isso ajustará a imagem para cobrir toda a área do elemento pai */
    background-repeat: no-repeat; /* Isso evita que a imagem de fundo se repita */
    height: 100vh; /* Isso define a altura igual à altura da janela do navegador */
    overflow: hidden; /* Isso oculta qualquer conteúdo que vá além da altura especificada */
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: -15px;
}

#lgo{
    
    width: 50px;
    margin-top: 10px;
    margin: 10px;
    margin-left: 50px;
}

#nmr-socios{
    color: black;
    font-size: 22px;
    margin-left: 200px; /* Adiciona um espaço à esquerda do parágrafo */

}

#nmr-real{
   color: rgb(178,34,34);
   font-size: 24px;
   font-weight: bold;
   
}

li{
    display: inline-block;
    margin: 10px;
    
}

#cadastrese-btn {
    
    color: white;
    border: 2px solid rgb(178,34,34);
    border-radius: 12px;
    background-color: rgb(178,34,34);
    margin-right: 50px;
}

a{
    color: black;
}

a:hover{
    color: black;
    transition: 0.3s all;
}


main{
   
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-left: 100px;
}

#seja-st{
    color: rgb(178,34,34);
    font-size: 80px;
    line-height: 80px; /* Diminuir espaço entre as linhas */
    font-family: Marker Felt, fantasy	;
    font-style: italic; /* Define o estilo de fonte para itálico */
    margin-top: -50px; 
    max-width: 500px;
    letter-spacing: 1px; /* Define um valor negativo para reduzir o espaço entre as letras */
    margin-right: 75px;
    -webkit-text-stroke: 1px #ffffff; /* Largura e cor da borda */
}


form{
    display: flex; /*todos elementos ficarem do mesmo tamanho*/
    flex-direction: column; /*todos elementos ficarem um ao lado do outro*/
    width: 70%; 
    position: relative;
    top: -90px;

}


form [type="submit"]{
    height: 20px;
    width: 150px;
    background-color: rgb(236, 236, 236);
    color: rgb(178,34,34);
    font-weight: bold;
    padding: 20px;
    
}

form [type="submit"]:hover{
    cursor: pointer;
}


input{    
    margin-left: 400px;
    margin-top: 15px;
    height: 20px;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}











