body{
    background-color: rgb(178,34,34);
    color: white;
    font-family: poppinsbold;
    margin: 0 auto;
    padding: 15px;
    background-image: url("/components/img/Captura\ de\ tela\ 2023-09-15\ 221921.png");
    background-size: cover; /* Isso ajustará a imagem para cobrir toda a área do elemento pai */
    background-repeat: no-repeat; /* Isso evita que a imagem de fundo se repita */
    height: 100vh; /* Isso define a altura igual à altura da janela do navegador */
    overflow: hidden; /* Isso oculta qualquer conteúdo que vá além da altura especificada */
    
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: -15px;
}

#lgo{
    
    width: 50px;
    margin-top: 10px;
    margin: 10px;
    margin-left: 50px;
}

#nmr-socios{
    color: black;
    font-size: 22px;

}

#nmr-real{
   color: rgb(178,34,34);
   font-size: 24px;
   font-weight: bold;
   
}

li{
    display: inline-block;
    margin: 10px;
    
}

#cadastrese-btn {
    
    color: white;
    border: 2px solid rgb(178,34,34);
    border-radius: 12px;
    background-color: rgb(178,34,34);


}

a{
    color: black;
}

a:hover{
    color: black;
    transition: 0.3s all;
}


#seja-st{
    color: rgb(178,34,34);
    font-size: 100px;
    line-height: 80px; /* Diminuir espaço entre as linhas */
    font-family: Marker Felt, fantasy	;
    font-style: italic; /* Define o estilo de fonte para itálico */ 
    max-width: 500px;
    letter-spacing: 1px; /* Define um valor negativo para reduzir o espaço entre as letras */
    -webkit-text-stroke: 1px #ffffff; /* Largura e cor da borda */
}


.titulo-eformu{
    margin-top: 200px;
    margin-left: 150px;

}



.formu_btn{
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-family: "poppinsbold";
    text-transform: uppercase;
    color: rgb(178,34,34);

}

.formu-texto{    
    height: 20px;
    width: 250px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    display: flex; /*todos elementos ficarem do mesmo tamanho*/
    flex-direction: column; 
    margin-bottom: 15px;
     
}

.cadastro{
    
}







