@media screen and (max-width: 760px){
    body{
        background-image: url(../components/img/ecb690c0be12d743ce0b1c689ed42480.jpg);
    }
    
    header{
        flex-direction: column;
        text-align: center; /* Isso centraliza o texto dentro da seção */

    }

 
    #seja-st{
        font-size: 60px;
        text-align: center; /* Isso centraliza o texto dentro da seção */
    }
   
    .titulo-eformu {
        
        margin: 0 auto; /* Isso centraliza horizontalmente o conteúdo da seção */
        text-align: center; /* Isso centraliza o texto dentro da seção */
    }
    

    .formu-texto {
        margin: 0 auto; /* Isso centraliza horizontalmente o conteúdo da seção */
        
        margin-bottom: 15px;
    }
    
    .formu_btn {
        
        margin-top: 15px;
    }




  
}

@media screen and (max-width: 1400px){
    .titulo-eformu{
        margin-top: 120px;
    }
}