@media screen and (max-width: 760px){
    body{
        background-image: url(../components/img/ecb690c0be12d743ce0b1c689ed42480.jpg);
    }
    
    header{
        flex-direction: column;
        text-align: center; 
        

    }

 
    #seja-st{
        font-size: 60px;
        text-align: center; 

    }
   
    .titulo-eformu {
        
        margin: 0 auto; /* Isso centraliza horizontalmente o conteúdo da seção */
        text-align: center; 
        
    }
    

    .formu-texto {
        margin: 0 auto; /* Isso centraliza horizontalmente o conteúdo da seção */
        
        margin-bottom: 15px;
    }
    
    .formu_btn {
        
        margin-top: 15px;
    }




  
}

@media screen and (min-width: 760px) and (max-width: 1400px){
    .titulo-eformu{
        margin-top: 15px;
    }

    #nmr-socios{
        margin-left: 155px;
    }
    #lgo{
        margin-left: 50%;
    }
    #menu{
        margin-right: 2%;
    }

  
}